/* *************
ROOT + FONTS
************* */
@font-face {
	font-family: "Cinzel";
	src: url("../font/Cinzel/Cinzel-VariableFont_wght.ttf"), format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("../font/IBM_Plex_Mono/IBMPlexMono-Regular.ttf"), format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lora";
	src: url("../font/Lora/Lora-VariableFont_wght.ttf"), format("ttf");
	font-weight: normal;
	font-style: normal;
}

:root {
	--heading-font: "Cinzel", "URW Bookman", "Georgia Pro", Georgia, serif;
	--text-font: "Lora", Optima, source-sans-pro, sans-serif;

	--whiteboard-gradient: radial-gradient(#e5e5e5 50%, #bcbcbc);
}

/* *************
GENERAL STYLING
************* */
body {
	margin: 0;
	padding: 0;

	background-image: url(../img/brick-background.png);
}

h1 {
	grid-column-start: 1;
	grid-column-end: 3;

	margin: 0;

	font-family: var(--heading-font);
	font-size: 2em;
	text-align: center;
}

p {
	margin: 0;

	font-family: var(--text-font);
}

.hidden {
	display: none;
}

.spin {
	animation: spin 1s ease-in-out;
}

.disappear {
	animation: disappear 1s ease-in forwards;
}

.appear {
	animation: disappear 1s ease-in reverse;
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(1turn);
	}
}

@keyframes disappear {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(0);
	}
}

article {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 2em;

	width: 100vw; /* negate margin */
	height: 100vh; /* negate margin */
}

article > section:first-of-type {
	grid-column-start: 1;
	grid-row-start: 1;

	margin: 1em;
	box-shadow: 0.5em 0.5em 2em 1em rgb(25 5 0 / 0.75);

	width: 50em;
	aspect-ratio: 16/9;

	background: var(--whiteboard-gradient);
}

article > section:nth-of-type(2) {
	grid-column-start: 1;
	grid-row-start: 2;

	transform-origin: bottom right;
	transform: skew(15deg);

	padding: 1em;

	height: auto;

	background-color: rgb(165 89 42);
}

article > section:last-of-type {
	grid-column-start: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-end: auto;
	align-self: end;

	border: 3em solid #bcbcbc;
	border-bottom: none;
	border-right: none;
	border-radius: 71% 0% 0% 0% / 22% 0% 0% 0%;

	height: calc(100% - 1em); /* give it a margin essentially */

	background-color: rgb(165 89 42);
}
