/* *************
ROOT + FONTS
************* */
@font-face {
	font-family: "Cinzel";
	src: url("../font/Cinzel/Cinzel-VariableFont_wght.ttf"), format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("../font/IBM_Plex_Mono/IBMPlexMono-Regular.ttf"), format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lora";
	src: url("../font/Lora/Lora-VariableFont_wght.ttf"), format("ttf");
	font-weight: normal;
	font-style: normal;
}

:root {
	--heading-font: "Cinzel", "URW Bookman", "Georgia Pro", Georgia, serif;
	--text-font: "Lora", Optima, source-sans-pro, sans-serif;

	--whiteboard-gradient: radial-gradient(#e5e5e5 50%, #bcbcbc);
}

/* *************
GENERAL STYLING
************* */
body {
	margin: 0;
	padding: 0;

	background-image: url(../img/brick-background.png);
}

h1 {
	grid-column-start: 1;
	grid-column-end: 3;

	margin: 0;

	font-family: var(--heading-font);
	font-size: 2em;
	text-align: center;
}

p {
	margin: 0;

	font-family: var(--text-font);
}

article > section:last-of-type {
	display: none;
}

.hidden {
	display: none;
}

article {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 2em;

	width: calc(100vw); /* negate margin */
	height: calc(100vh); /* negate margin */
}

article > section:first-of-type {
	grid-column-start: 1;
	grid-row-start: 1;

	margin: 1em;
	box-shadow: 0.5em 0.5em 2em 1em rgb(25 5 0 / 0.75);

	min-width: 50em;
	max-width: 45vw;
	aspect-ratio: 16/9;

	background: var(--whiteboard-gradient);
}

article > section:nth-of-type(2) {
	grid-column-start: 1;
	grid-row-start: 2;

	transform-origin: bottom right;
	transform: skew(15deg);

	padding: 1em;

	height: auto;

	background-color: rgb(165 89 42);
}

article > section:last-of-type {
	grid-column-start: 2;
	grid-row-start: 1;
	grid-row-end: 3;
}
