/* *************
ROOT + FONTS
************* */
@font-face {
	font-family: "Cinzel";
	src: url("../font/Cinzel/Cinzel-VariableFont_wght.ttf"), format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lora";
	src: url("../font/Lora/Lora-VariableFont_wght.ttf"), format("ttf");
	font-weight: normal;
	font-style: normal;
}

:root {
	--shelf-colour: #aa8261;
	--tutorial-bg: #f4d7c0;
	--primary-bg: #880d0d;
	--primary-border: #ff0000;
	--whiteboard-gradient: radial-gradient(#e5e5e5 50%, #bcbcbc);
	--pillar-colour: #bcbcbc;
	--white-text: #e5e5e5;

	--heading-font: "Cinzel", "URW Bookman", "Georgia Pro", Georgia, serif;
	--text-font: "Lora", Optima, source-sans-pro, sans-serif;
}

/* *************
GENERAL STYLING
************* */
body {
	margin: 0;
	padding: 0;

	background-image: url(../img/brick-background.png);
}

h1 {
	margin: 0;

	font-family: var(--heading-font);
	font-size: calc(2em + 0.5vw);
	text-align: center;
}

h2 {
	grid-column-start: 1;
	grid-column-end: 3;

	margin: 0;
	padding-top: 0.75em;

	font-family: var(--heading-font);
	font-size: 2em;
	text-align: center;
	line-height: 0;
}

p {
	margin: 0;

	font-family: var(--text-font);
}

.hidden {
	display: none;
}

.spin {
	animation: spin 1s ease-in-out;
}

.disappear {
	animation: disappear 1s ease-in forwards;
}

.appear {
	animation: disappear 1s ease-in reverse;
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(1turn);
	}
}

@keyframes disappear {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(0);
	}
}

article {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 2em;

	width: 100vw; /* negate margin */
	height: 100vh; /* negate margin */
}

article > section:first-of-type {
	grid-column-start: 1;
	grid-row-start: 1;
}

article > section:nth-of-type(2) {
	grid-column-start: 1;
	grid-row-start: 1;

	margin: 1em;
	box-shadow: 0.5em 0.5em 2em 1em rgb(25 5 0 / 0.75);

	width: 50em;
	aspect-ratio: 16/9;

	background: var(--whiteboard-gradient);
}

article > section:nth-of-type(3) {
	grid-column-start: 1;
	grid-row-start: 2;

	position: relative;
	transform-origin: bottom right;
	transform: skew(15deg);

	padding: 1em;

	height: auto;

	background-image: url(../img/wooden-texture-90.jpg);
}

article > section:last-of-type {
	grid-column-start: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-end: auto;
	align-self: end;

	border: 3em solid var(--pillar-colour);
	border-bottom: none;
	border-right: none;
	border-radius: 71% 0% 0% 0% / 22% 0% 0% 0%;

	height: calc(100% - 1em); /* give it a margin essentially */

	background-image: url(../img/wooden-texture.jpg);
}

article > section:first-of-type > section {
	position: absolute;

	z-index: 50;
}

article > section:nth-of-type(3) img:hover {
	cursor: pointer;

	transform: scale(1.25);
	transition: 0.5s;
}

article > section:last-of-type img:hover {
	cursor: pointer;

	transform: scale(1);
	transition: 0.5s;
}
