article > section:nth-of-type(3) div {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-content: space-between;
	gap: 1em;

	position: absolute;
	left: 3.25em;
	transform: skew(-15deg);

	width: calc(100% - 5.75em); /* negate skew */
	height: calc(100% - 2em); /* margin */
}

article > section:nth-of-type(3) div button {
	align-self: flex-end;

	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

article > section:nth-of-type(3) div button img {
	max-width: 100%;
	max-height: 100%;
}
