/* *************
TIMELINE
************* */
/* test button */
article > section:first-of-type a {
	position: relative;

	z-index: 100;
}

/* NAVIGATION BUTTONS */

article > section:first-of-type section {
	display: flex;
	justify-content: space-between;

	position: absolute;
	top: 2em;

	margin: 0 1em;

	width: calc(50em - 2em); /* negate margin */

	z-index: 5;
}

article > section:first-of-type section button {
	display: block;
	align-self: center;

	border: 0;
	border-radius: 360px;
	padding: 1em;

	aspect-ratio: 1/1;

	background-color: rgb(0 0 0 / 0.5);
	opacity: 0;
}

article > section:first-of-type section button:hover {
	cursor: pointer;

	opacity: 1;

	transition: 0.5s;
}

article > section:first-of-type section button img {
	width: 3em;
	aspect-ratio: 1/1;
}

article > section:first-of-type section button:first-of-type img {
	transform: scaleX(-1); /* flip previous image */
}

/* TIMELINE ITEMS */

article > section:first-of-type ul {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

article > section:first-of-type ul li {
	display: none; /* depending on which li you're viewing, all other li are not visible */
	grid-template-columns: 40% 57.5%;
	gap: 1em;

	position: relative;
	left: calc(50% - (45em / 2));

	padding: 1em 0;

	width: 45em;
	height: 30em;
}

/* general .active doesn't get used here since display: none;
is more specifically selected so it would override that */
article > section:first-of-type li.active {
	display: grid;
}

/* all clues are placed in the first column */
article > section:first-of-type li p:not(:first-of-type) {
	grid-column-start: 1;
}

/* time indication of the episode the scene is from */
article > section:first-of-type li p:first-of-type {
	grid-column-start: 2;
	grid-column-end: 2;
	justify-self: end;
	align-self: center;

	margin: 0;
}

article > section:first-of-type li img,
video {
	grid-column-start: 2;
	grid-row-start: 3;
	grid-row-end: 6;
	align-self: center;

	/* position is given so that the z-index will properly get the img and video to appear on top */
	position: relative;

	width: 100%;

	z-index: 10;
}
