/* *************
LAY-OUT
************* */
article > section:first-of-type > section {
	position: absolute;

	z-index: 50;
}

article > section:first-of-type > section:first-of-type {
	top: calc(50% - (75vh / 2));
	left: calc(50% - (75vw / 2));

	border: 0.4em solid var(--shelf-colour);
	border-radius: 1vw;
	box-shadow: 0.25em 0.25em 5em black, 0 0 5em var(--shelf-colour) inset;

	width: 75vw;
	height: 75vh;

	background-color: var(--tutorial-bg);
}

article > section:first-of-type > section:first-of-type > div {
	position: relative;
	top: calc(50% - (90% / 2));
	left: calc(50% - (85% / 2));

	width: 85%;
	min-height: 85%;
}

/* *************
ZERO STATE POP-UP
************* */

article > section:first-of-type > section:first-of-type > div p {
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	margin-bottom: 1em;

	max-width: 40em;

	font-size: calc(0.5em + 0.5vw);
	text-align: center;
}

article > section:first-of-type > section:first-of-type > div img {
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	height: 12.5em;
	aspect-ratio: 16/9;
}

article > section:first-of-type > section:first-of-type > div button {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	border: 0.25em solid var(--primary-border);
	border-radius: 10px;
	padding: 1em 5em;

	font-family: var(--text-font);
	font-size: 0.75em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: var(--white-text);
	background-color: var(--primary-bg);
}

article > section:first-of-type > section:first-of-type > div button:focus {
	outline: none;
	background-color: var(--primary-border);
}

article > section:first-of-type > section:first-of-type > div button:hover {
	cursor: pointer;

	outline: none;
	background-color: var(--primary-border);
}

/* *************
EASTER EGG POP-UP
************* */

article > section:first-of-type > section:nth-of-type(2) {
	position: absolute;
	right: 0;
	bottom: 1em;
	transform: translateX(100%);

	border: 0.4em solid var(--shelf-colour);
	border-right: 0;
	border-radius: 10px 0 0 10px;
	box-shadow: 0 0 2.5em var(--shelf-colour) inset;

	background-color: var(--tutorial-bg);

	animation: slide 1.5s ease-out forwards, slide 1.5s ease-in 10s reverse;
	/* To make sure that after the second animation, the pop-up is gone */
	animation-fill-mode: forwards;
}

article > section:first-of-type > section:nth-of-type(2) p {
	margin: 0 0 1em 1em;

	width: 30em;
}

@keyframes slide {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}
